
<div class="container mt-5">
  <app-create-category></app-create-category>
  <table class="table  table-bordered mt-3">
    <thead class="text-center table-danger">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">slug</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let product of product$ | async">
        <th scope="row">{{product.id}}</th>
        <td>{{product.nombre}}</td>
        <td>{{product.slug}}</td>
      </tr>
    </tbody>
  </table>
</div>

